/*
body {
    background-color: rgb(211, 150, 28);
  }
  
  nav {
    background-color: #dcb;
    text-align: center;
  }

  a{
    border: 0.2em rgb(176, 204, 170) outset;
    border-radius: 0.5em;
    width: 30%;
    display :inline-block
  }
*/
  div#viewport{
      overflow:auto
     
  }
 div#wrapper{
  width:calc(9 * 220px - 20px);
   
 }
  img{
      width: 200px;
      margin-right: 20px ;
      float: left;

  }

  img:last-child {
      margin-right: 0px;
  }
